<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Bootstrap for title page -->
  <title>HLBoost</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>

    <!-- Display HLBoost header -->
<div class="jumbotron">
    <nav class="navbar navbar-light bg-primary">
    <h1>&nbsp;HLBoost</h1>      
</nav>
<!-- product slogan -->
<h3>&nbsp;&nbsp;&nbsp;Find Your Optimal Study Environment</h3>
</div>

<!-- container for instructions on how to use the product -->
<div class="container">
  <h4>Step 1</h4>
  <p>&nbsp;Push the big button at the start of the study session</p>  
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <h4>Step 2</h4>    
  <p>&nbsp;Finished studying? Press the small button to see your optimal study lighting and humidty</p>   
</div>

<!-- container for the submit button -->
<div class="container">
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <form>

        <!-- button will redirect to the dashboard -->
  <button type="submit" class="btn btn-primary" formaction="/dashboard">Finish Study Session</button> 
</form>
</div>

</body>
</html>
