<!DOCTYPE html>
<html lang="en">
<head>
  <title>HLBoost</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
    <!-- container for the navbar -->
<div class="container">
    <div id="nav">
<!-- set the theme of the navbar -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <!-- set the title of the navbar header -->
          <a class="navbar-brand" href="dashboard">HLBoost</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <!-- set the options of the navbar and link to appropriate DV -->
                <a class="nav-item nav-link" href="design-option-1">Design Option #1</a>
                <a class="nav-item nav-link" href="design-option-2">Design Option #2</a>
                <a class="nav-item nav-link" href="design-option-3">Design Option #3</a>
            </div>
            </div>
        </nav>
    </div>
</div>
<!-- contain and show the prodcuctivity result -->
<div class="container">
  <div class="jumbotron">
    <h1>Your productivity score:</h1>      
    <h3>{{productivityResult}}</h3> 
  </div>    
</div>

</body>
</html>
